{% extends "base.html" %}

{% block title %}
{% if username %}
Посылки пользователя {{ username }}
{% else %}
Все посылки
{% endif %}
{% endblock %}

{% block all_submits_li %}{% if not username %}active{% endif %}{% endblock %}


{% block content %}
{% if username %}
<h1>Посылки пользователя {{ username }}</h1>
{% else %}
<h1>Все посылки</h1>
{% endif %}
<table class="table table-hover">
    <thead>
        <tr>
            <th style="text-align: center; width:1%"></th>
            <th style="white-space: nowrap; width: 1%"></th>
            <th style="white-space: nowrap; width: 1%"></th>
            <th style="white-space: nowrap; width: 1%"></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for submit in submits %}
            {% if submit.status == "PD" %}
            <tr class="warning">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-warning">Ожидание компиляции</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            </tr>
            {% elif submit.status == "CE" %}
            <tr class="error">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-important">Ошибка компиляции</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            </tr>
            {% elif submit.status == "OK" %}
            <tr class="success">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-success">OK</span>
                {% if submit.current %}<span class="label label-primary">Текущее решение</span>{% endif %}
                </td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/battle/{{ submit.check_battle.sid }}'">Посмотреть бой</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            </tr>
            {% elif submit.status == "CR" %}
            <tr class="info">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-info">Компиляция</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            </tr>
            {% elif submit.status == "FA" %}
            <tr class="error">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-inverse">Серверная ошибка</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            </tr>
            {% elif submit.status == "RU" %}
            <tr class="success">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-warning">Выполнение</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            {% elif submit.status == "PE" %}
            <tr class="error">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-important">Неверный формат вывода</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/battle/{{ submit.check_battle.sid }}'">Посмотреть бой</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            {% elif submit.status == "TL" %}
            <tr class="error">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-important">Превышено максимальное время работы</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/battle/{{ submit.check_battle.sid }}'">Посмотреть бой</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            {% elif submit.status == "RE" %}
            <tr class="error">
                <td style="text-align: right"><b>{{ submit.sid }}</b></td>
                <td style="white-space: nowrap"><a href="/all_submits/{{ submit.user.username }}">{{ submit.user.username }}</a></td>
                <td style="white-space: nowrap">{{ submit.time }}</td>
                <td style="white-space: nowrap">{{ submit.language }}</td>
                <td><span class="label label-important">Ошибка времени выполнения</span></td>
                <td style="text-align: right;">
                    <button class="btn btn-mini" onclick="javascript:window.location='/battle/{{ submit.check_battle.sid }}'">Посмотреть бой</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/log'">Лог компиляции</button>
                    <button class="btn btn-mini" onclick="javascript:window.location='/submit/{{ submit.sid }}/source'">Код программы</button>
                </td>
            {% endif %}
        {% endfor %}
    </tbody>
{% endblock %}
