{% extends "base.html" %}

{% block rules_li %}active{% endblock %}

{% block content %}
<h1>Игра "Просто Филя"</h1>
<table class="table table-hover">
    <tr>
        <td>Имя входного файла</td>
        <td>Стандартный поток ввода</td>
    </tr>
    <tr>
        <td>Имя выходного файла</td>
        <td>Стандартный поток вывода</td>
    </tr>
    <tr>
        <td>Время на один ход</td>
        <td>2 секунды</td>
    </tr>
</table>
<h2>Общая информация</h2>
Дано прямоугольное клеточное поле 41x45 клеток. Каждая клетка покрашена в один из шести цветов. Цвета пронумерованы от 1 до 6. 
Левая верхняя и правая нижняя клетки поля имеют различный цвет. В результате поле разбивается на некоторое количество одноцветных областей. 
Две клетки одного и того же цвета, имеющие общую сторону, принадлежат одной и той же области.
<h2>Правила игры</h2>
Играют два игрока. За первым игроком закреплена область, включающая левую верхнюю клетку, за вторым – правую нижнюю. 
Игроки ходят по очереди. Делая ход, игрок перекрашивает свою область в любой из шести цветов по своему выбору, 
за исключением цвета своей области и цвета области противника. В результате хода к области игрока присоединяются 
все прилегающие к ней области выбранного цвета, если такие имеются <br/>
Цель игры – включить в свою область как можно больше клеток. Игра заканчивается, когда все поле разобьется на две области или в течение 
4 ходов ни одна область не увеличилась.
<h2>Задание</h2>
Написать программу, которая по текущему состоянию поля делает один ход за первого игрока. 
Ваша программа будет участвовать в игре с другой программой следующим образом:
<ul>
  <li>по данным входного файла ваша программа выбирает номер цвета, записывает его в выходной файл  и заканчивает свою работу;</li>
  <li>тестирующая система по выбранному цвету перекрашивает область первого игрока, запускает программу-противника для ответного хода и вновь запускает вашу программу, <br/>
      предоставляя ей в качестве начальных данных измененное поле;</li>
  <li>ваша программа будет запускаться до тех пор, пока тестовая игра не завершится;<br/>
      в случае некорректного хода вашей программы тестовая игра досрочно.</li>
</ul>
<h2>Входные данные</h2>
Входной файл содержит 41 строку по 45 цифр в каждой без пробелов.<br/>
Первая цифра файла соответствует цвету левой верхней клетки игрового поля.
<h2>Выходные данные</h2>
Выходной файл содержит номер цвета хода.
{% endblock %}
